<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--Book Database-->
<div class="wrapper">
    <br>
    <div class="button-container">
        <span class="buttons-left">
            <a href="/students" class="btn btn-primary" role="button">
                <i class="fa-solid fa-arrow-left"></i> Back
            </a>
        </span>
        <span class="buttons-right">
            <a href="/students/edit/<%= Student._id %>" class="btn btn-primary mx-2">
                <i class="fa-solid fa-pencil"></i> Edit
            </a>
            <a href="/students/delete/<%= Student._id %>" class="btn btn-danger">
                <i class="fa-solid fa-trash"></i> Delete
            </a>
        </span>
    </div>
    <div id="infoBlock">
        <h2>Details for <%= Student.firstName %> <%= Student.lastName %></h2>
        <div class="info">
            <span class="label">Program:</span>
            <span class="value"><%= Student.Program %></span>
        </div>
        <div class="info">
            <span class="label">Degree:</span>
            <span class="value"><%= Student.Degree %></span>
        </div>
        <div class="info">
            <span class="label">GPA:</span>
            <span class="value"><%= Student.GPA %></span>
        </div>
        <div class="info">
            <span class="label">Fees Due:</span>
            <span class="value"><%= Student.feesDue %></span>
        </div>
        <div class="info">
            <span class="label">Additional Comments:</span>
            <span class="value"><%= Student.addComment %></span>
        </div>
    </div>
</div>
<%- include ../Partials/footer.ejs%>